files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEEjCCAvqgAwIBAgIUIPc2hrobGeCcmekD+CnMiSgxm1gwDQYJKoZIhvcNAQEL
      BQAwgZsxCzAJBgNVBAYTAkNIMQ0wCwYDVQQIEwRWYXVkMRowGAYDVQQHExFZdmVy
      ZG9uLWxlcy1iYWluczESMBAGA1UEChMJc2NhbmFseXplMQswCQYDVQQLEwJJVDEX
      MBUGA1UEAxQOKi5zY2FuYWx5emUuY2gxJzAlBgkqhkiG9w0BCQEWGHNjYW5hbHl6
      ZUBwcm90b25tYWlsLmNvbTAeFw0yMzA5MDQxMDU0MzNaFw0zMzA5MDQxMDU0MzNa
      MIGbMQswCQYDVQQGEwJDSDENMAsGA1UECBMEVmF1ZDEaMBgGA1UEBxMRWXZlcmRv
      bi1sZXMtYmFpbnMxEjAQBgNVBAoTCXNjYW5hbHl6ZTELMAkGA1UECxMCSVQxFzAV
      BgNVBAMUDiouc2NhbmFseXplLmNoMScwJQYJKoZIhvcNAQkBFhhzY2FuYWx5emVA
      cHJvdG9ubWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDo
      g2GMJUVoyJ1rGqbfZaMTCesyaNqmn2p8oIoCZY8YVwhQRqjT2bSwViylYjtxgPvm
      UPSxjuyYOCYb7//qtZ5TFXjaKnKZWS/4p/XHIIb1U7axiniX0H7sSXdRi8N1TpRR
      SaHPUWIzUcwqTuxcMyDBqKnLBltIJPVX87o2mVxWAZRaUqp+9Wg+d6kTzpVFfEB3
      deoJ+h8smg8yT7kMelTeItxDR26AipaRN2u2K+pEXBkkhdUBwg5nT/HCHtAKR29u
      EULqFAKPZteZPJBjSFBx9v0wfJu3gHAhg9uTG7PWGRwxDIOAKbRp/GQWvyse1UdA
      DmIZWVwX3AkU1CXqYTKbAgMBAAGjTDBKMAkGA1UdEwQCMAAwEQYJYIZIAYb4QgEB
      BAQDAgTwMAsGA1UdDwQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAgYIKwYBBQUH
      AwEwDQYJKoZIhvcNAQELBQADggEBAINBDZAZUkowjB9r8wzJX5Xdg411XeVG5BTs
      qnZbBc3r/XXWjyyKElJoJVyh9k0UzKkGHfWRluURgt+H093rUTPuTu+a8YuopLgH
      S6gWBx53DHr9BmAgyvu5k0TfLwrVapVH3DynFuyvOA/BBWYbUNNvwoBxRHUvzmDE
      /TWdNcMVWFQmJ9LHaX2XnSyDnirglPQhUXEwTrapHkzSMHaHpmcMpdhn9t006toQ
      WbrDBS87AHb6Eg4j5EvqqK9z/6jmaB1Ndr+/KY0DxSccyqBDcSdAO5q/5Ob1Oqpj
      p+zwrIqCdtGu9XxVvQgOWC8a00+wzO9qoTa0Bn5giKp9G5Xv+xc=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA6INhjCVFaMidaxqm32WjEwnrMmjapp9qfKCKAmWPGFcIUEao
      09m0sFYspWI7cYD75lD0sY7smDgmG+//6rWeUxV42ipymVkv+Kf1xyCG9VO2sYp4
      l9B+7El3UYvDdU6UUUmhz1FiM1HMKk7sXDMgwaipywZbSCT1V/O6NplcVgGUWlKq
      fvVoPnepE86VRXxAd3XqCfofLJoPMk+5DHpU3iLcQ0dugIqWkTdrtivqRFwZJIXV
      AcIOZ0/xwh7QCkdvbhFC6hQCj2bXmTyQY0hQcfb9MHybt4BwIYPbkxuz1hkcMQyD
      gCm0afxkFr8rHtVHQA5iGVlcF9wJFNQl6mEymwIDAQABAoIBAG0frBqAK5FABlGM
      EqFqLBz1XMMt3uCwlOOk3OC/FWeRAT/bycSTum/AIfgEoG1m4dJ4UD89GuFeCNS3
      0N4xGvtXan7JyTsbVp5XBczNAUoGXgn5ORvXKJpw6GUHOVbG6Gk2K5EHWxVG4JFC
      tT+YZ1k8dWPpudGkNtludAjH9UQPWLPO/3EfRow679tMwlidj3Z071/+5y9uCa1L
      +//uNLIDsr+SW4rZ1OV/UoTDKGiqpC9KOVt5nh6teXhWQ1F1x3pRCTBukHtXjsPc
      6lFTWf63kOYmJAdaahyFWccuC9J+6iA3BiDMmwqTjOCv60vrASAaYjiTWwMhS3yA
      b1OX/nECgYEA9WPT3LYlJyUgNTN8ZahoDLegAe8rfKOItY6PpIVfqNMkVLvbvPjX
      SAY9rCeGU3nYX2sLLe6IwqB4eVmFmCwLiq2q7SBX/6skv+uR8HNF5DOoYM0khIru
      dgbbnoc+//+w+kVdQmzQLxE+lR9MfOF+K3SPLGFoIa2LIQlxdSSD+1cCgYEA8pEF
      +emEXhm+0vToOFMfBX1hkZIXM7P84gbH19Y86GZYOpBIqS4qmD2aUPF+ccFIrL28
      sum3j1L0f/esewmN97Gp59haCqIBp5aqDqpMZ1UMnMX2pJYz2Q3LU25O+C6Kprrz
      szPadnSJFAd4tOY+2Lf5o5delGZikBJYHycdvF0CgYEAhR0NDXplNxHlodZ3EbJE
      Fzn4+3OhVHBltY9LDoUnOi6nU6vAbIdUSQbRp7SdImVDYadwng76cxGXqMROOxkR
      fb3trcpQ0iklu1JvjU8Kx9rZ6QD/YUL4TmAz/JADNd2fRHQiPelHGXEyULR0yn2L
      8si87ec9FJ/OjDJSMKiJS+sCgYBfw+XKHumFhUCTZOFxq09qCXBF2pmSbhL+4ZJw
      okJ1tkJLDL/DG1jxthCAuHclThv1JwuizycLTML+6reL89+61MexovcZj5B7q74E
      ADQd77QFCRsxK6PYo9uMWtaOoUFYRiMEswojDis4XyLGuMhDI49JiO9sQ2fSXYuw
      8O6KeQKBgQDmF3GbkTvB4pHHtRGSqeguWaJvzWKRZFSrZsijpRGJA84lnL1YhZkS
      U8EPUHkrYKgG0kKD4Ewwg2ALWlxgI0vTUQCt4UuxBsnkvwZlbjwJwFQt/xkwT6or
      9nqNHGkPqjcTnUfCK2GLrxfi8rl6a4AEuUtJsBGL74jg/01qCbpvDQ==
      -----END RSA PRIVATE KEY-----